/* Define the initial state, enter state, and exit state of the transition */
.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
  
  /* Ensure the content is positioned correctly */
  .route-section {
    position: absolute;
    width: 100%;
  }